<!DOCTYPE html>
<html lang="en">
  <!-- head start-->
  <%- include('../../partials/head.ejs') %>
  <!-- head end -->

  <body>
    <!-- header start-->
    <%- include('../../partials/header.ejs') %>
    <!-- header end -->

    <!-- main start -->
    <main>
      <div class="container mt-4 py-3">
        <div class="row justify-content-center">
          <!-- left start -->
          <div class="col-3 col-xxl-4 d-none d-lg-block">
            <div class="mt-md-4">
              <!-- 1 profile start -->
              <div class="card files border-0 mb-3">
                <div class="card-body">
                  <div class="d-flex flex-col">
                    <img
                      src="https://img.icons8.com/?size=100&id=86280&format=png&color=000000"
                      alt=""
                      style="width: 8%"
                    />
                    <h5 class="card-title my fw-bold my-auto mx-2">Profil</h5>
                  </div>
                  <p class="card-text">Detail tentang profil</p>
                </div>
              </div>
              <!-- 1 profile end -->
              <!-- 2 profile start -->
              <div class="card files border-0 mb-3">
                <div class="card-body">
                  <div class="d-flex flex-col">
                    <img
                      src="https://img.icons8.com/?size=100&id=86280&format=png&color=000000"
                      alt=""
                      style="width: 8%"
                    />
                    <h5 class="card-title my fw-bold my-auto mx-2">Affiliate</h5>
                  </div>
                  <p class="card-text">Detail tentang Informasi affiliate</p>
                </div>
              </div>
              <!-- 2 profile end -->
              <!-- 3 profile start -->
              <div class="card files border-0 mb-3">
                <div class="card-body">
                  <div class="d-flex flex-col">
                    <img
                      src="https://img.icons8.com/?size=100&id=86280&format=png&color=000000"
                      alt=""
                      style="width: 8%"
                    />
                    <h5 class="card-title my fw-bold my-auto mx-2">Withdraw</h5>
                  </div>
                  <p class="card-text">Detail tentang Informasi withdraw</p>
                </div>
              </div>
              <!-- 3 profile end -->
              <!-- 4 profile start -->
              <div class="card files border-0 mb-3">
                <div class="card-body">
                  <div class="d-flex flex-col">
                    <img
                      src="https://img.icons8.com/?size=100&id=86280&format=png&color=000000"
                      alt=""
                      style="width: 8%"
                    />
                    <h5 class="card-title my fw-bold my-auto mx-2">My Project</h5>
                  </div>
                  <p class="card-text">Detail tentang informasi proyek saya</p>
                </div>
              </div>
              <!-- 4 profile end -->
            </div>
          </div>
          <!-- left end -->
          <!-- right start -->
          <div class="col-12 col-lg-8 px-3">
            <form action="" class="justify-content-center mx-auto mt-lg-4">
              <!-- top start -->
              <div class="px-3 mb-4 files py-4">
                <div
                  class="row flex-column flex-sm-row align-items-center justify-content-between gap-2 gap-lg-0"
                >
                  <div class="col-12 col-sm-5 d-flex align-items-center gap-2">
                    <div class="w-25">
                      <img
                        src="https://turnedin.id/images/default.jpeg"
                        class="w-100 h-100 rounded-circle"
                        alt=""
                      />
                    </div>
                    <div class="d-flex flex-column mx-2">
                      <h5 class="fw-semibold">Fadhil Gani</h5>
                      <button type="button" class="btn btn-secondary fz-14">
                        Ganti Foto
                      </button>
                    </div>
                  </div>
                  <div class="col-12 col-sm-auto d-flex justify-content-end">
                    <div class="d-flex flex-column align-items-end fz-14">
                      <button type="button" class="btn btn-secondary fz-14">
                        Upload KYC
                      </button>
                      <span class="fz-12 mt-2"
                        >*Upload KYC terlebih dahulu sebelum membuat
                        tawaran</span
                      >
                    </div>
                  </div>
                </div>
              </div>
              <!-- top end -->
              <div class="mb-4 files">
                <div class="p-3">
                  <h5>Ubah Informasi</h5>
                  <div class="row mt-3">
                    <!-- nama start -->
                    <div class="col-12 col-sm-6 mb-3 fz-14">
                      <label for="name">Nama</label>
                      <input
                        id="name"
                        type="text"
                        class="form-control form-control-lg my-2 fz-14"
                        placeholder="Nama"
                      />
                      <span class="text-danger">*Pastikan nama sesuai KTP</span>
                    </div>
                    <!-- nama end -->
                    <!-- no hp start -->
                    <div class="col-12 col-sm-6 mb-3 fz-14">
                      <label for="name">Nomor HP</label>
                      <input
                        id="name"
                        type="number"
                        class="form-control form-control-lg my-2 fz-14"
                        placeholder="628........"
                      />
                    </div>
                    <!-- no hp end -->
                    <!-- email start -->
                    <div class="col-12 col-sm-6 mb-3 fz-14">
                      <label for="name">Email</label>
                      <input
                        id="name"
                        type="email"
                        class="form-control form-control-lg my-2 fz-14"
                        placeholder="email@example.com"
                      />
                    </div>
                    <!-- email end -->
                    <!-- password start -->
                    <div class="col-12 col-sm-6 mb-3 fz-14">
                      <label for="name">Password Baru</label>
                      <input
                        id="name"
                        type="password"
                        class="form-control form-control-lg my-2 fz-14"
                        placeholder="Masukkan Password Baru"
                      />
                    </div>
                    <!-- password end -->
                    <!-- keahlian start -->
                    <div class="col-12 fz-14">
                      <label for="name">Keahlian</label>
                      <input
                        id="name"
                        type="text"
                        class="form-control form-control-lg my-2 fz-14"
                        placeholder="Masukkan Keahlian Anda"
                      />
                      <div class="col-12 mt-3 mb-3">
                        <label for="">Portofolio</label>
                      </div>
                      <button type="button" class="btn btn-secondary fz-14">
                        Tambah Portofolio
                      </button>
                    </div>
                    <div class="col-12 mt-3">
                        <button class="w-100 btn-border-none rounded-pill btn-primary px-3 py-2 fz-14">Perbarui</button>
                    </div>
                    <!-- keahlian end -->
                  </div>
                </div>
              </div>
            </form>
          </div>
          <!-- right end -->
        </div>
      </div>
    </main>
    <!-- main end -->
  </body>
</html>
