/* navbar button start*/
.hamburger {
  width: 35px;
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  padding: 5px;
  align-items: end;
}

.bar {
  height: 3px;
  background-color: #333;
  border-radius: 5px;
}

.bar-1 {
  width: 100%;
}

.bar-2 {
  width: 75%;
}

.bar-3 {
  width: 100%;
}

/* navbar button end */

a {
  text-decoration: none !important;
}

.bg-primary-custom {
  background-color: #212e61 !important;
  color: white !important;
  border: none !important;
}

.bg-secondary-custom {
  background-color: #f19a37 !important;
}

.border-primary-custom {
  border-color: #212e61 !important;
}

.btn-primary-custom {
  background-color: #212e61 !important;
  border-color: #212e61 !important;
  color: white !important;
}

.btn-secondary-custom {
  background-color: #f19a37 !important;
  border-color: #f19a37 !important;
  color: white !important;
  border: none !important;
}
.text-secondary-custom {
  color: #f19a37 !important;
}

.foto_profil {
  width: 50px;
  height: 50px;
}

.icon_footer {
  width: 20px;
  height: 20px;
}

.text_grey {
  color: #6c757d;
}

.row {
  margin-right: 0px;
  margin-left: 0px;
}

.carousel_indicator {
  bottom: -50px;
}

.carousel_indicator button {
  background-color: #6d6d6d !important;
  width: 10px !important;
  height: 10px !important;
}

.carousel_indicator button.active {
  background-color: #4337f1 !important;
  width: 10px !important;
  height: 10px !important;
}

.count {
  width: 30px;
  height: 30px;
  top: -15px;
  right: -15px;
  background-color: rgb(165, 165, 165);
}

.fz-14 {
  font-size: 14px;
}

.fz-12 {
  font-size: 12px;
}

.active-custom {
  background-color: #212e61 !important;
  color: white !important;
}

.files {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) !important;
  border: 1px solid #f2f2f2 !important;
  border-radius: 0.75em !important;
}

.files-active {
  border: 1px solid #212e61 !important;
  background-color: #eaeaea !important;
}

#submit_button:hover {
  background-color: #fa8c0e !important;
}

#submit_button:active {
  background-color: #9e621d !important;
}

#fileInput {
  display: none;
}

#img_logo {
  width: 50px;
  height: auto;
}

#img_info {
  margin-top: -75px;
  width: 200px;
}

#floating_button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  padding: 5px;
}

#img_float {
  width: 35px;
  height: 35px;
}

#gambar_wa {
  width: 35px;
  height: 35px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  #img_info {
    width: 200px;
    margin-top: -130px;
  }
}
