<!-- left start -->
<div class="col-3 col-xxl-4 d-none d-lg-block">
  <div class="mt-md-4">
    <!-- 1 profile start -->
    <a href="profile" class="card <%= (page === "profile") ? "files-active":""%> files mb-3" id="profile">
      <div class="card-body">
        <div class="d-flex flex-col">
          <img
            src="https://img.icons8.com/?size=100&id=86280&format=png&color=000000"
            alt=""
            style="width: 8%"
          />
          <h5 class="card-title my fw-bold my-auto mx-2">Profil</h5>
        </div>
        <p class="card-text">Detail tentang profil</p>
      </div>
    </a>
    <!-- 1 profile end -->
    <!-- 2 affiliate start -->
    <a href="affiliate" class="card <%= (page === "affiliate") ? "files-active":""%> files mb-3 " id="affiliate">
      <div class="card-body">
        <div class="d-flex flex-col">
          <img
            src="https://img.icons8.com/?size=100&id=86280&format=png&color=000000"
            alt=""
            style="width: 8%"
          />
          <h5 class="card-title my fw-bold my-auto mx-2">Affiliate</h5>
        </div>
        <p class="card-text">Detail tentang Informasi affiliate</p>
      </div>
    </a>
    <!-- 2 affiliate end -->
    <!-- 3 withdraw start -->
    <a href="withdraw" class="card <%= (page === "withdraw") ? "files-active":""%> files mb-3" id="withdraw">
      <div class="card-body">
        <div class="d-flex flex-col">
          <img
            src="https://img.icons8.com/?size=100&id=86280&format=png&color=000000"
            alt=""
            style="width: 8%"
          />
          <h5 class="card-title my fw-bold my-auto mx-2">Withdraw</h5>
        </div>
        <p class="card-text">Detail tentang Informasi withdraw</p>
      </div>
    </a>
    <!-- 3 withdraw end -->
    <!-- 4 my project start -->
    <a href="my-project" class="card <%= (page === "my-project") ? "files-active":""%> files mb-3" id="my-project">
      <div class="card-body">
        <div class="d-flex flex-col">
          <img
            src="https://img.icons8.com/?size=100&id=86280&format=png&color=000000"
            alt=""
            style="width: 8%"
          />
          <h5 class="card-title my fw-bold my-auto mx-2">My Project</h5>
        </div>
        <p class="card-text">Detail tentang informasi proyek saya</p>
      </div>
    </a>
    <!-- 4 my project end -->
  </div>
</div>
<!-- left end -->
